body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f8f9fa;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}